*.swp
*.hex
*.bin
*.uvguix.*
*.uvgui.*
.launches/
JLinkLog.txt
JLinkSettings.ini
~*.doc*
.metadata/
.settings/
DebugConfig
.vscode/
RTE/
obj
Objects/
Listings/
Output
build
Debug
Release
*.scvd
*.launch
